*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ececec;
    border-top: 1px solid transparent;
}
.content{
    margin: 110px auto 15px;
    width: 1180px;
    min-height: 30px;
}
.map{
    padding: 20px 0;
    font-size: 14px;
}
.timelist{
    background-color: #fff;
    height: auto;
    padding: 25px 0;
}
.nav>li {
    padding: 19px 30px 19px 20px;
    list-style: none;
    font-size: 13px;
}
.nav>li i{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #c2c1c1;
    vertical-align: middle;
    margin-right: 15px;
}
.nav>li i::before{
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -1.5px;
    top: -20px;
    width: 3px;
    height: 20px;
    background-color: #c2c1c1;
}
.nav>li i::after{
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -1.5px;
    bottom: -20px;
    width: 3px;
    height: 20px;
    background-color: #c2c1c1;
}
.nav>li:hover i{
    background-color: tomato;
}
.nav>li a{
    vertical-align: middle;
}
.nav>li span{
    vertical-align: middle;
    float: right;
}
.animatelist{
    text-align: center;
    padding: 20px 0;
}
.animate{
    width: 100px;
}